@model IList<Person>
@{
    ViewData["Title"] = "Home Page";
}
 @if (User.Identity.IsAuthenticated)
{     
        <div class="d-flex flex-row bd-highlight align-items-center">     
            <input type="submit" class="btn btn-info input-click" id="check-all-btn" value="Select all" >
                <input type="checkbox" id="check_all" class="check_all checkboxindex" hidden="true">             
            </input> 
            <button type="submit" hidden="true" form="form-input" class="btn btn-danger delete-user-btn btn-input" asp-controller="Home" asp-action="DeleteUser">Delete</button>
            <button type="submit" hidden="true" form="form-input" class="btn btn-danger block-user-bth btn-input" asp-controller="Home" asp-action="BlockUser">Block/Unlock</button>
        </div>

        <table class="table">
        <thead>
            <tr> 
            <th scope="col d-flex">
            </th>
                <th scope="col">Account Id</th>
                <th scope="col">Account Name</th>
                <th scope="col">IsBlocked</th>
                <th scope="col">LastActivity</th>
            </tr>
        </thead>
        <tbody>   
        <form id="form-input" method="post">
            @foreach(var item in Model ){     
                <tr>
                    <th scope="row">
                        <input type="checkbox" class="form-check-input checkbox checkboxindex input-click" name="id" value=@item.AccountId>
                        <label class="form-check-label" for="exampleCheck1"></label>
                    </th>
                    <td>@item.AccountId</td>
                    <td>@item.AccountName</td>
                    <td>@item.IsBlocked</td>
                    <td>@item.LastIn</td>
                </tr>
                }
        </form>
        </tbody>
        </table>
}
else 
{<h1>You are not logget in</h1>}